@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wide,
.narrow {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.cards {
  width: 400px;
  position: absolute;
  top: 40vh;
  left: 50vw;
  filter: drop-shadow(10px 5px 0px rgb(4, 11, 17));
}

.cards:hover {
  transform: scale(1.2);
  transition: 2s;
}

.title {
  position: absolute;
  font-family: Futura;
  font-weight: bold;
  height: 100vh;
  font-size: 15vw;
  line-height: 0.9;
  word-break: break-all;
  color: #ffaa05;
}

.instructions {
  position: absolute;
  color: #ffaa05;
  font-family: 'Staatliches';
  font-size: 3rem;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}
